---
import Link from "./Link.astro"

const { prevUrl, nextUrl } = Astro.props
---

<nav aria-label="Páginas del Blog">
    {
        prevUrl && (
            <Link 
                text="Página Anterior"
                href={prevUrl}
                style="primary"
                borderVisible={true}
                isFilled={false}
                icon={{
                    name: "tabler:arrow-big-left-line",
                    side: "left",
                }}
            />
        )
    }
    {
        nextUrl && (
            <Link 
                text="Siguiente Página"
                href={nextUrl}
                style="primary"
                borderVisible={true}
                isFilled={false}
                icon={{
                    name: "tabler:arrow-big-right-line",
                    side: "right",
                }}
            />
        )
    }
</nav>